.hostel-add-page {
    display: flex;
    padding: 20px;
  
    .left-section {
      flex: 2;
      padding-right: 20px;
    }
  
    .right-section {
      flex: 1;
      padding-left: 20px;
    }
  }
  